<div menu></div>
<div header></div>
<!-- page content -->
<div class="right_col" role="main">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-md-10">
							<h2>Listado de Inmuebles</h2>
						</div>
						<div class="col-xs-6 col-sm-2 col-md-2">
							<a href="#!/insertarinmueble" class="btn btn-success">Nuevo</a>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="x_content">
						<div class="dashboard-widget-content">
							<div class="col-md-12 col-xs-12">
								<h2 class="line_30"></h2>
								<br>
								<table class="countries_list">
									<thead>
										<tr>
                                            <!--<td>Id</td>-->
										<td><strong>Manzana</strong></td>
										<td class="fs15 fw700 text-right"><strong>Numero de Villa</strong></td>
                                        <td class="fs15 fw700 text-right"><strong>Numero de Pisos</strong></td>
                                        <td class="fs15 fw700 text-right"><strong>Numero de Cuartos</strong></td>
                                        <td class="fs15 fw700 text-right"><strong>Numero de Baños</strong></td>
                                        <td class="fs15 fw700 text-right"><strong>Usuario</strong></td>
										<td class="text-center"><strong>Acciones</strong></td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in data">
                                           <!-- <td style="width:40px">{{item.id}}</td>-->
                                        <td class="fs15 fw700 text-right">{{item.manzana}}</td>
                                        <td class="fs15 fw700 text-right">{{item.numero_villa}}</td>
                                        <td class="fs15 fw700 text-right">{{item.numero_pisos}}</td>
                                        <td class="fs15 fw700 text-right">{{item.numero_cuartos}}</td>
                                        <td class="fs15 fw700 text-right">{{item.numero_banios}}</td>
										<td class="fs15 fw700 text-right">{{item.usuario_id}}</td>
											<td class="text-center">
                                                <a  class="btn btn-primary" type="submit" ng-click="buscarInmueble(item.id)"  href="#!/modificarinmueble">Editar</a>
                                                <!--<button class="btn btn-primary" ng-click="buscarInmueble(item.id)">Editar</button>-->
												<button class="btn btn-danger" ng-click="eliminarInmueble(item.id)">Eliminar</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /page content -->
<div footer></div>