<div menu></div>
<div header></div>
<!-- page content -->
<div class="right_col" role="main">
	<div class="row">

			<div class="x_panel">
				<div class="x_title">
					<h2>Opciones por Rol</h2>
					<div class="clearfix"></div>
					<div class="x_content">
						<div class="dashboard-widget-content">
							<div class="col-md-12 col-xs-12">
							<h2 class="line_30"></h2>
							<br>
							<table class="countries_list">
								<thead>
									<tr>
										<td>Id</td>
										<td><strong>Nombre de Rol</strong></td>

									</tr>
								</thead>
								<tbody>

									<tr ng-repeat="item in data">
										<td style="width:40px">{{item.id}}</td>
										<td>{{item.descripcion}}</td>
										<td class="text-center">



											<a  class="btn btn-primary" type="submit" ng-click="listarOpciones(item.id)">Mostrar opciones</a>
											<a  class="btn btn-primary" type="submit" ng-click="guardarOpciones(item.id)">Guardar</a>

										</td>

										</tr>




								</tbody>

								<thead>
									<tr>
										<td><h2>Opciones del rol</h2></td>

									</tr>
								</thead>
								<tbody>
									<!--<tr ng-repeat="op in data_opciones">
											<td>{{op.nombre}}</td>
											<td ng-repeat="oprol in opct"  data-ng-if="op.id === oprol.opcion_id">

											<input type="checkbox" class="form-control" placeholder="pass" ng-model="rol_id" id="active" ng-checked="true">
											</td>
											<td ng-repeat-else>
											<input type="checkbox" class="form-control" placeholder="pass" ng-model="rol_id" id="active">
											</td>
											</tr>-->
									<tr>

										<td>

											<div class="form-group"  ng-repeat="modul in data_modulo">
												
												<label> {{modul.descripcion}} 
												</label>
												<div class="form-group"  ng-repeat="opc in data_opcion" data-ng-if="modul.id === opc.modulo_id" ng-model="data">
						
													
													<p>&nbsp;<input type="checkbox" id="opc_{{opc.id}}" name="opcion[]" ng-checked="{{data.opcion_id[opc.id] === opc.id}}" > {{opc.nombre}} </p>
													
						
												</div>
												
											</div>

										</td>

									</tr>

							</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		</div>






</div>

</div>
<!-- /page content -->
<div footer></div>
