<div menu></div>
<div header></div>
<!-- page content -->
<div class="right_col" role="main">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Listados de Proveedores</h2>
					<a href="#!/proveedores" class="navbar-right"><button type="button" class="btn btn-success">Volver</button></a>

					<div class="clearfix"></div>
					<div class="x_content">
						<div class="dashboard-widget-content">
							<div class="col-md-12 col-xs-12">
							<h2 class="line_30"></h2>
							<br>
							<table class="countries_list">
								<thead>
									<tr>
										<td><strong>Nombre de Proveedor</strong></td>
										<td class="fs15 fw700 text-right"><strong>RUC</strong></td>
										<td class="text-center"><strong>Acciones</strong></td>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in data">
										<td>{{item.descripcion}}</td>
										<td class="fs15 fw700 text-right">{{item.ruc}}</td>
										<td class="text-center">
											<button class="btn btn-primary" ng-click="activarProveedor(item.id)">Activar</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /page content -->
<div footer></div>
